:host {
  header {
    background: linear-gradient(81deg,rgba(42, 123, 155, 1) 0%, rgba(39, 138, 80, 1) 59%, rgba(102, 213, 102, 1) 100%, rgba(237, 221, 83, 1) 78%);
    height: 80px;
    padding: 0;
    margin: 0;
    border-radius: 0 0 20px 20px;
    margin: auto;
    width: 75%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;

    p {
      font-size: 24px;
      color: azure;

      a {
        font-size: 24px;
        color: azure;
        text-decoration: none;
      }
    }
  }
}
